body {
    font-family: verdana, arial, sans-serif;
    background-image: url(background.jpg);
    background-size: 100%;
}

#game {
    color: burlywood;
    background-color: rgba(0, 0, 0, 0.4);
    padding-bottom: 50px;
}

#round {
    font-size: 40px;
    text-align: center;
}

#currentBlinds {
    margin-bottom: 30px;
    font-size: 150px;
    text-align: center;
}

#timer {
    font-size: 100px;
    text-align: center;
}

#nextBlinds {
    margin-top: 150px;
    font-size: 40px;
    text-align: center;
}

#removeChipsTip {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    color: black;
    background-color: #cd7f32;
}

.button:hover {
    cursor: pointer;
}

#startStopButton {
    text-align: center;
}

#startStopButton span {
    font-size: 80px;
}

#rules ul {
    list-style: inside;
}

#rules table {
    border-collapse: collapse;
    color: burlywood;
}

#rules table td {
    padding: 1px 90px;
    border-bottom: 1px solid #f74a15cb;
    text-align: center;
}

#rules h1,
h2 {
    text-align: center;
}

#rules {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: auto;
    width: 1000px;
    color: burlywood;
}

#players {
    margin-top: 20px;
    margin-left: 160px;
    float: left;
}

#players table {
    width: 600px;
}

#prizePool {
    padding-top: 60px;
    color: burlywood;
    font-size: 40px;
    text-align: center;
    height: 430px;
}

#links a {
    color: burlywood;
}

#links {
    font-size: 25px;
    color: burlywood;
    position: fixed;
    top: 20px;
    right: 50px;
}

#players tr:nth-child(1) {
    background-color: #f74a15cb !important;
}

#players tr:nth-child(-n+7) {
    background-color: #a5d610;
}

#players tr {
    background-color: #b3ecff;
}

#players td {
    padding: 6px;
}

#games {
    padding-bottom: 30px;
    padding-top: 5px;
    background-color: rgba(0, 0, 0, 0.7);
}

.game_title {
    color: #b3ecff;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: center;
}

.game_date {
    text-align: center;
    margin-bottom: 8px;
    color: #ddd;
}

.buy_in {
    margin-top: 8px;
    color: #a5d610;
    text-align: center;
}

.splide__track {
    margin-left: 100px;
    margin-right: 100px;
}

.splide__track ul {
    list-style-type: none;
}

.splide__slide table {
    width: 70%;
    margin: auto;
}

.splide__slide table tr:nth-child(1) {
    background-color: #ffd700;
}

.splide__slide table tr:nth-child(2) {
    background-color: #c0c0c0;
}

.splide__slide table tr:nth-child(3) {
    background-color: #cd7f32;
}

.splide__slide table tr {
    background-color: #b3ecff;
}

.splide__slide td {
    padding: 6px;
}